.App{
    height: 100vh;
    width: 100vw;
    background: url('https://asia.playstation.com/content/dam/pscom/sea/campaign/id-warranty/Indonesia%20Warranty%20Campaign.jpg');
    overflow: scroll;
}
.App-Body-Container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 300vh;
}
.Inputs-Container{
    height: 40vh;
    width: 35vw;
    background: rgba(0,0,0,.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    position: sticky;
    top: 0;
}
.Videogame-Container{
    height: 30vh;
    width: 58vw;
    margin-left: 30px
}
#Add-Game{
  padding: 6px 20px;
  border: 1px solid #bbb;
  font: bold 13px arial, helvetica, sans-serif;
  color: black;
  width: 60%;
  border-radius: 3px
}
h3{
    color: white;
    margin-bottom: -10px
}
button{
    margin-bottom: 10px;
}
.imageInput{
    width: 80%
}
.titleInput{
    width: 80%
}
#Review-Input{
    width: 80%;
    height: 20%
}
.ratingInput{
    width: 30%;
    text-align: center
}
button:hover{
    color: white;
}
#Add-Game:hover{
    color: white;
}