.Display-Pic{
    height: 50vh;
    width: 50vw;

}
.Display-Title{
    color: white;
}
p{
    color: white;
}
button{
    padding: 6px 20px;
    border: 1px solid #bbb;
    font: bold 13px arial, helvetica, sans-serif;
    color: black;
    border-radius: 3px
}
.Edit-Review{
    height: 50px;
    width: 40%
}
.Edit-Rating{
    width: 10%;
    text-align: center;
}
button:hover{
    color: white;
}